/* HEADER ================================================================================================================== */
header
{
    width: 100%;
}

/* title ------------------------------------------------*/
.titleBar
{
    background-color: white; 
    margin-bottom: 0px;
}

.logo
{
    display: inline-block;
    position: relative;
    top: 7px;
}

h1
{
    text-align: center;
	text-transform: uppercase;
    
	font-size: 400%;
    font-family: Helvetica;
    
    display: inline-block;
    
    margin-top: 5px;
    margin-bottom: 0px;
    
    /* center */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* navbar ------------------------------------------------*/
nav
{
    margin-top: -15px;
    width: 100%;
    
    background-color: #00ADEF;
}

nav ul
{
    list-style: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 0px;
}

nav ul li
{
    display: inline-block;
    text-align: center;
    margin: 0px;
    
    font-family: Helvetica;
    
}

nav ul li a
{
    color: white;
    text-decoration: none;
    background-color: #00ADEF; 

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a:hover
{
    background-color: #008abf;
    
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #66cdf5;
}

#active
{
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #00678f;
}

.logo-link{
    float: right;
}

.logo-link a
{
    position: relative;
    top: -8px;
}

.logo-link img
{
    width: 23px;
    height: 23px;
    
    position: relative;
    top: 7px;
}

/* BODY ================================================================================================================ */
/*Index page */
body
{
    background-color: #e5f6fd;
}

*
{
    box-sizing: border-box;
}
.main
{
     /* center */
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

/* card profile */
.card
{
    height: 584px;
    width: 100%;
    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    
    margin-bottom: 25px;
    margin-top:25px;
    
    position: relative;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    display: inline-block;
    overflow: hidden;
}

.cover
{
    width: 100%;
    height: calc(60% - 38px);
    
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    /* center */
    position: relative;
    top: -322px;
}

.no-media-scroll .cover
{
    height: calc(100% - 54px) !important;
    top: -540px !important;
}

.cover img
{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    height: 100%;
    width:  100%;
}

.title
{
    color: white;
    opacity: 1.0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: -175px;
    z-index: 1;
    font-size: 250%;
    font-family: Arial;
    word-wrap: break-word;
    
    
    /* center */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    /* height: calc(30% - 38px); */
}

.no-media-scroll .title 
{
    height: calc(100% - 54px) !important;
    top: -315px !important;
}

.details
{
    position: relative;
   
    height: calc(60% - 20px);
    width: 100%;
    z-index: 2;
    
    background-color: #00678f;
    color: white;
    
    opacity: 0.0;
    
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}
.details:hover
{
    opacity: 1.0;
}

.no-media-scroll .details
{
    height: calc(100% - 34px) !important;
}

.details ul
{
    display: inline-block;
    float: left;
    background-color: #005677;
    
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    margin: 0px;
    
    width: 20%;
    height:100%;
    
    position: relative;
    overflow-y: auto;

    box-shadow: inset 0 -7px 9px -7px rgb(255, 255, 255);

    z-index: 3;
}

.textBlock
{
    position: relative;
    display: inline-block;
    float: right;
    width: 80%;
    height: 100%;
    overflow-y: auto;

    font-family: 'Arial';

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: inset 0 -7px 9px -7px rgb(255, 255, 255);
}

.textBlock a
{
    color: white;
}

.smallIcon
{
    list-style: none;
}

.smallIcon a
{
    color: white;
    text-decoration: none;
}

.smallIcon img
{
    width:  20px;
    height: 20px;
    
    position: relative;
    top: 5px;
}


/* Game profile quick info bar */
.quickInfo
{
    background-color: white;
    position: relative;
    top: -312px;
    border-top-style: solid;
    border-width: 4px;
    border-color: #66cdf5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 34px;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.no-media-scroll .quickInfo
{
    top: -531px !important;
}

.quickInfo ul
{
    list-style: none;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    
    position: relative;
    top: -14px;
}

.quickInfo ul li
{
    
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
   
}

.quickInfo ul li span
{
    position: relative;
    top: -5px;
    left: -1px;
}

.quickInfo ul li a
{
    color: black;
    text-decoration: none;
}

.quickInfo img
{
    width:  20px;
    height: 20px;
}

/** Image Carousel */

.scroll-container {
    background-color: #003d55;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 8px;
    height: calc(40% - 16px);
    /* scrollbar-gutter: stable; */
    display: flex;
    /*justify-content: center;*/
    position: relative;
    top: -312px;
}
  
.scroll-container img {
    padding: 10px;
    /* width: 295px;*/
    height: 100%;
    cursor: pointer;
}

.scroll-container video {
    padding: 10px;
    /* width: 295px;*/
    height: 100%;
    cursor: pointer;
}

.scroll-container iframe {
    padding: 10px;
    /* width: 295px;*/
    height: 100%;
    cursor: pointer;
}

/* Scrollbar */
.details ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.details ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px grey; 
    border-radius: 10px;
}

.details ::-webkit-scrollbar-thumb {
    background: #66cdf5;
    border-radius: 10px;
}

.details ::-webkit-scrollbar-thumb:hover {
    background: #66cdf5;
}

/* Fullscreen media zoom */
#media-zoom {
    display: none;
    position: fixed;

    justify-content: center;

    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.8);
    background-origin: content-box;

    opacity: 0;
    transition: opacity .35s;

    cursor: pointer;
  }

  .media-zoom-target{
    display: flex;
    width: 100%;
    height: 100vh;
    object-fit: contain;
  }

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 45px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev{
    left: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  

/* SKILLS PAGE */
.skill
{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: calc((163px) * 4);
    align-content: middle;
    
    
}

.skill img
{
    display: inline-block;
    padding: 5px;
    width: 150px;
    height: 150px;
}
footer
{
    color: #00678f;
    text-align:center;
    
}

/* MOBILE ==================================================================================================================================================*/
@media only screen and (max-width: 910px)
{
    .main
    {
        width: 100%
    }

    nav ul{
        padding: 0px;
    }

    nav ul li
    {
        display: block;
        text-align: center;
        margin: 0px;
        
        font-family: Helvetica;
    }

    nav ul li a{
        display: block;
    }

    nav ul li a:hover
    {
        background-color: #008abf;
        border-width: 0px;
    }

    .logo-link{
        float:none;
    }

    .logo-link a{
        padding-top: 0px;
        top: 0px;
    }

    #active{
        border-bottom-style: none;
        border-width: 0px;
        background-color: #00678f;
    }
}

@media only screen and (max-width: 800px)
{
    .details{
        overflow-y: scroll;
    }

    .details ul{
        float: none;
        width: 100%;
        overflow: visible;
        box-shadow: none;
        height: fit-content;
    }

    .textBlock{
        float: none;
        width: 100%;
        overflow: visible;
        box-shadow: none;
        height: fit-content;
    }
}