/* HEADER ================================================================================================================== */
header
{
    width: 100%;
}

/* title ------------------------------------------------*/
.titleBar
{
    background-color: white; 
    margin-bottom: 0px;
}

.logo
{
    display: inline-block;
    position: relative;
    top: 7px;
}

h1
{
    text-align: center;
	text-transform: uppercase;
    
	font-size: 400%;
    font-family: Helvetica;
    
    display: inline-block;
    
    margin-top: 5px;
    margin-bottom: 0px;
    
    /* center */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* navbar ------------------------------------------------*/
nav
{
    margin-top: -15px;
    width: 100%;
    
    background-color: #00ADEF;
}

nav ul
{
    list-style: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 8px;
}

nav ul li
{
    display: inline-block;
    text-align: center;
    margin: 0px;
    
    font-family: Helvetica;
    
}

nav ul li a
{
    color: white;
    text-decoration: none;
    background-color: #00ADEF; 

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a:hover
{
    background-color: #008abf;
    
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #66cdf5;
}

#active
{
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #00678f;
}

.git
{
    position: relative;
    top: -8px;
}

.gitLogo
{
    width: 23px;
    height: 23px;
    
    position: relative;
    top: 7px;
}

/* BODY ================================================================================================================ */
/*Index page */
body
{
    background-color: #e5f6fd;
}

*
{
    box-sizing: border-box;
}
.main
{
     /* center */
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

/* card profile */
.card
{
    height: 584px;
    width: 100%;
    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    
    margin-bottom: 25px;
    margin-top:25px;
    
    position: relative;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    display: inline-block;
    overflow: hidden;
}

.cover
{
    width: 100%;
    height: calc(60% - 38px);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    /* center */
    position: relative;
    top: -322px;
}

.no-media-scroll .cover
{
    height: calc(100% - 54px) !important;
    top: -540px !important;
}

.title
{
    color: white;
    opacity: 1.0;
    text-align: center;
	text-transform: uppercase;
    
    position: relative;
    top: -520px;
    z-index: 1;
    
    font-size: 250%;
    font-family: Arial;
    
    
    /* center */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: calc(60% - 38px);
}

.no-media-scroll .title 
{
    height: calc(100% - 54px) !important;
    top: -865px !important;
}

.details
{
    position: relative;
   
    height: calc(60% - 20px);
    width: 100%;
    z-index: 2;
    
    background-color: #00678f;
    color: white;
    
    opacity: 0.0;
    
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}
.details:hover
{
    opacity: 1.0;
}

.no-media-scroll .details
{
    height: calc(100% - 34px) !important;
}

.details ul
{
    display: inline-block;
    float: left;
    background-color: #005677;
    
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    margin: 0px;
    
    width: 20%;
    height:100%;
    
    position: relative;
    overflow-y: auto;

    box-shadow: inset 0 -7px 9px -7px rgb(255, 255, 255);

    z-index: 3;
}

.textBlock
{
    position: relative;
    display: inline-block;
    float: right;
    width: 80%;
    height: 100%;
    overflow-y: auto;

    font-family: 'Arial';

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: inset 0 -7px 9px -7px rgb(255, 255, 255);
}

.textBlock a
{
    color: white;
}

.smallIcon
{
    list-style: none;
}

.smallIcon a
{
    color: white;
    text-decoration: none;
}

.smallIcon img
{
    width:  20px;
    height: 20px;
    
    position: relative;
    top: 5px;
}


/* Game profile quick info bar */
.quickInfo
{
    background-color: white;
    
    position: relative;
    top: -694px;
    
    border-top-style: solid;
    border-width: 4px;
    border-color: #66cdf5;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    width: 100%;
    height: 34px;
    
    z-index: 3;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.no-media-scroll .quickInfo
{
    top: -1131px !important;
}

.quickInfo ul
{
    list-style: none;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    
    position: relative;
    top: -14px;
}

.quickInfo ul li
{
    
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
   
}

.quickInfo ul li span
{
    position: relative;
    top: -5px;
    left: -1px;
}

.quickInfo ul li a
{
    color: black;
    text-decoration: none;
}

.quickInfo img
{
    width:  20px;
    height: 20px;
}

/** Image Carousel */

.scroll-container {
    background-color: #003d55;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 8px;
    height: calc(40% - 16px);

    /* scrollbar-gutter: stable; */

    position: relative;
    top: -695px;
}
  
.scroll-container img {
    padding: 10px;
    width: 295px;
}

.scroll-container video {
    padding: 10px;
    width: 295px;
}

.scroll-container iframe {
    padding: 10px;
    width: 295px;
}

/* Scrollbar */
.details ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.details ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px grey; 
    border-radius: 10px;
}

.details ::-webkit-scrollbar-thumb {
    background: #66cdf5;
    border-radius: 10px;
}

.details ::-webkit-scrollbar-thumb:hover {
    background: #66cdf5;
}

/* SKILLS PAGE */
.skill
{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: calc((163px) * 4);
    align-content: middle;
    
    
}

.skill img
{
    display: inline-block;
    padding: 5px;
    width: 150px;
    height: 150px;
}
footer
{
    color: #00678f;
    text-align:center;
    
}

/* MOBILE ==================================================================================================================================================*/
@media only screen and (max-width: 720px)
{
    .main
    {
        width: 100%
    }
}